.ImageCard {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-in-out;
    border-radius: .5rem;
}

.ImageCard img {
    object-fit: cover;
    width: 125px;
    height: 125px;
    aspect-ratio: 1/1;
    border-radius: .5rem;
}

.ImageCard:hover {
    scale: 1.05;
    box-shadow: 0 0 1rem .1rem #DBDBDB;
}