#search-btn {
    position: fixed;
    left: 50%;
    bottom: 4.5rem;
    transform: translateX(-50%);
    z-index: 100;
    color: #DBDBDB;
    font-weight: bold;
    text-shadow: .1rem .1rem #c2714f;
    text-decoration: none;
    background-color: #00000088;
}

#search-btn:hover {
    text-shadow: .1rem .1rem #ff785a;
    background-color: black;
}

.popover {
    background-color: rgba(0, 0, 0, .9);
    border: none;
    font-family: 'Kanit', sans-serif;
    max-width: 30rem;
}

.popover .popover-arrow::after {
    border-top-color: rgba(0, 0, 0, .9);
}