.navbar {
    background-color: black;
}

.navbar-brand,
.nav-link {
    color: #DBDBDB;
}

.navbar-brand:hover {
    color: #DBDBDB;
}

.navbar-brand {
    font-size: 2.5rem;
}

.navbar-brand.active {
    color:#DBDBDB
}

.nav-link {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-link:hover,
.nav-link:focus,
.navbar .nav-link.active {
    color: #FF785A;
}

.nav-bot {
    height: 4rem;
}

.nav-top {
    height: 5rem;
}